<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dappsvc-fnc-callmsgraph.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fe90d178-f958-4f2f-85c9-7780aadc0953/resourceGroups/rg_gcx_AppService_Graph/providers/Microsoft.Web/sites/dappsvc-fnc-CallMSGraph</ResourceId>
    <UserName>$dappsvc-fnc-CallMSGraph</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dappsvc-fnc-callmsgraph.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>